.card {
  margin: 15px 0px;
}

.navbar-cart {
  justify-content: flex-end;
}

.carDeck {
  padding-left: 15px;
}

.col-md-4{
  padding-left: 0px;
}

.card-deck .card {
  margin: 15px 15px 15px 0px !important;
}

.btn-secondary {
  margin-left: 5px;
}

h3 {
  margin-left: 25px;
  color: red;
}

.card-img-top {
  border-bottom: 1px gray solid;
}